package components

import "chipa.me/views"

templ Footer() {
	<footer class="flex font-poppins justify-center items-center bg-primary-content text-neutral-content footer footer-center mt-auto flex-wrap">
		<aside>
			<p class="font-bold">
				Gustavo Dominguez
				<br/>
				{ views.GeneratePhrase() }
			</p>
			<p>Copyright © { views.CurrentYear() } - All right reserved</p>
		</aside>
		<div class="font-cascadia text-5xl -mt-6 md:mt-0">{ "{cachesdev}" }</div>
	</footer>
}
