@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Cascadia Code";
    src: url("/static/fonts/CascadiaCode/woff2/CascadiaCode.woff2")
        format("woff2"),
      url("/static/fonts/CascadiaCode/woff2/CascadiaCode.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Lato";
    src: url("/static/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Source Sans 3";
    src: url("/static/fonts/SourceSans/SourceSans3-VariableFont_wght.ttf")
      format("truetype");
    font-weight: 100 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("/static/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@layer components {
  .prose pre {
    @apply font-cascadia text-lg;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply text-warning;
  }
}
