package pages

templ Test() {
	<!DOCTYPE html>
	<html lang="en" data-theme="retro">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/static/css/output.css"/>
			<script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js" integrity="sha384-BBDmZzVt6vjz5YbQqZPtFZW82o8QotoM7RUp5xOxV3nSJ8u2pSdtzFAbGKzTlKtg" crossorigin="anonymous"></script>
			<title>Document</title>
		</head>
		<body>
			<div class="flex h-80 w-80 items-center justify-center bg-black font-cascadia text-9xl text-white">
				<div>
					&lt;a&gt;
				</div>
			</div>
		</body>
	</html>
}
